[Unit]
Description=My Service with Variables
After=telldus-core-mqtt.service
Requires=telldus-core-mqtt.service

[Service]
ExecStart=/usr/bin/home-assistant.sh start
ExecStop=/usr/bin/home-assistant stop
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
